h1.navtitle{
	padding-left: 150px;
}

.header{
	height: 500px;
	min-height: 500px;
	background-image:url("./img/top.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}



.background{
	background-color: #663300;
	
	
}
.title{
	padding-left: 150px;
	padding-right: 150px;
	color: white;
}
.footer_text{
	padding-left:150px;
	padding-right:150px;
	padding-top: 50px;
	color: white;
}

#sticky-footer {
  flex-shrink: none;
  height: 250px;
}
