/*Header*/
.navbar{
	padding: 20px 0;
}

.navbar-brand{
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2em;
	color: #262626;
}

.nav-item{
	font-weight: 800px;
	text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
	background: #262626;
	color: #fff;
}

.nav-link:focus{
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
   	background-color: #666;
}

.navbar-light .navbar-nav .nav-item .nav-link{
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
	color: #262626;
	padding: 5px 15px; 
}

h4{
	padding-top: 50px;
}

.jumbotron{
	text-align: center;
	color: #fff;
	background-image:url(img/header_top.png) ;
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;
}

section hr {
  width: 50%;
}

/* Flaired edges, by Tomas Theunissen */
hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: #eee;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-bottom: -15px;
}

hr.style-seven-after { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -11px;
    border-style: solid;
    border-color: #eee;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


.box-container{
	margin: auto;
	width: 30%;
}
.row .box{
	position: relative;
    overflow: hidden;
    margin: auto;
    margin-bottom:10px;
    perspective:1000px;
    -webkit-perspective:1000px;
    padding: 20px;
    border: solid 2px white;
    border-radius: 1em;
    font-weight: normal;
    -webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}

.box:hover {
  color: #333;
  background: #eee;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.box, .box:visited{
  text-decoration: none;
  color: white;
  outline: none;
}

.box:hover .icon{
	color: #333;
}

/*portfolio section*/
a, a:visited{
  text-decoration: none;
  color: #555;
  outline: none;
}

.col-md-4{
	text-align: center;
	margin: 20px 0px;
}

.col-md-4 a:hover {
  text-decoration: none;
  color: #888;
  outline: none;
}

a:active, a:focus {
  text-decoration: none;
  color: #aaa;
  outline: none;
}

.teall-bg {
  color: #eee;
  background-color: #333;
}

.project-thumb {
  width: 70%;
  height:70%;
  border: 1px solid #ccc;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.project-thumb:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

#portfolio{
	margin: 50px 100px; 
}

.transition{
	transition: all 0.25s ease-out;
  	-webkit-transition: all 0.25s ease-out;
  	-moz-transition: all 0.25s ease-out;
}

/*-- Custom Modal Settings --*/
.modal-header .modal-title{
	text-align: center;
}

.modal-content {
  border-radius: 1;
}

.modal-dialog {
  /* width: 80%; */
  margin: 0 auto; /* Eliminate top margin on bootstrap modal */
}

.modal-thumb img {
  width: 66%;
  padding-top: 20px;
}

.modal-body {
  padding: 20px 0;
  text-align: justify-all;
  width: 66%;
  margin: 0 auto;
}

.close {
  font-size: 40px;
  font-weight: 200;
}
/* END custom modal settings --*/

/*About*/
#about{
	margin: 50px 100px; 
}



/*3D Hover*/
/* 
.service-content{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 220px;
    padding: 15px;
    text-align: center;
    transition: all .5s ease;
    background-color: #474747;
    backface-visibility:hidden;
    transform-style: preserve-3d;
    -webkit-transform: translateY(110px) rotateX(-90deg);
    -moz-transform: translateY(110px) rotateX(-90deg);
    -ms-transform: translateY(110px) rotateX(-90deg);
    -o-transform: translateY(110px) rotateX(-90deg);
    transform: translateY(110px) rotateX(-90deg);
}

.box:hover .service-icon{
            opacity: 0;
            -webkit-transform: translateY(-110px) rotateX(90deg);
            -moz-transform: translateY(-110px) rotateX(90deg);
            -ms-transform: translateY(-110px) rotateX(90deg);
            -o-transform: translateY(-110px) rotateX(90deg);
            transform: translateY(-110px) rotateX(90deg);
}

.box:hover .service-content {
            opacity: 1;
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            -ms-transform: rotateX(0);
            -o-transform: rotateX(0);
            transform: rotateX(0);
}
*/